.left {
    background-color: #F3FFF2;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1040px) {
    .left {
        display: none;
    }
}
