.right {

    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}


.layout {

    
    
    
    height: 100vh;
    gap: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: start;




}


.right #input1 {

    height: 18px;
    width: 30px;
    border: none;

}

.checkbox {

    display: flex;
    align-items: center;

    

}


.line {

    display: flex;
    justify-content: space-between;
    width: 100%;



}

.buttons {

    display: flex;
    flex-direction: column;
    gap: 1em;



}

.welcome {

    display: flex;
    flex-direction: column;
    gap: 0.5em;


}

.welcome p {

    font-size: 13pt;
    font-weight: 460;


}
.line p {

    color: #1e9e61;
    cursor: pointer;

}

#button1 {

    background-color: #1e9e61;




}

 #button2 {

 background-color: #1A202C;
 display: flex;
gap: 1em;
padding-left: 5.5em;
align-items: center;
    

}
        
    

.button {
    height: 40px;
    width: 358px;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    

}

.button #icon {


    font-size: 24px;
}

.lastline {

    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 100%;


}

#cadastre {

    color: #1e9e61  ;
    margin-left: 0.6em;
    cursor: pointer;

}

