.input {

    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.8em;
    

}

.input input {

    
    height: 45px;
    background-color: #F7FAFC;
    border: 1px solid #E8E8E8;
    padding-left: 1em;
    

}

label {

    font-weight: 400;

}